@mixin color-texto {
    color: rgb(130, 112, 72);
}

@mixin fondo-claro {
    background-color: rgb(253, 234, 219);
}

%clase-textos {
    @include color-texto;
    text-align: center;
    font-size: 2vw;
    padding-top: 10%;
    padding-left: 2%;
    transform: translateX(30%);
}


body {
    main {
        @include fondo-claro;

        .titulo-clases {
            @include color-texto;
            text-align: left;
            font-size: 4.5vw;
            padding-left: 2%;

        }


        section {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            div {



                .clases-yoga-integal {
                    @extend %clase-textos;





                }


                h2 {
                    @include color-texto;
                    text-align: center;
                    font-size: 1.75vw;
                    padding-left: 2%;
                    transform: translateX(30%);

                }

                h3 {
                    @include color-texto;
                    text-align: center;
                    font-size: 1.75vw;
                    padding-left: 2%;
                    transform: translateX(30%);

                }

                p {
                    @include color-texto;
                    text-align: center;
                    font-size: 1.5vw;
                    padding-left: 2%;
                    transform: translateX(30%);

                }

                .yoga-experimental {
                    @extend %clase-textos;

                }

                h5 {
                    @include color-texto;
                    text-align: center;
                    font-size: 1.75vw;
                    padding-left: 2%;
                    transform: translateX(30%);

                }

                .meditacion {
                    @extend %clase-textos;

                }

                h6 {
                    @include color-texto;
                    text-align: center;
                    font-size: 1.75vw;
                    padding-left: 2%;
                    transform: translateX(30%);

                }

            }


            .imagen-clases img {
                width: 70%;
                height: auto;
                padding-top: 5%;
                padding-right: 2%;
                padding-bottom: 2%;
                transform: translateX(40%);
            }





        }
    }
}


@media (max-width: 468px) {
    body {
        main {
            @include fondo-claro;

            .titulo-clases {
                @include color-texto;
                padding-left: 2%;
                font-size: 7vw;
                text-align: center;
            }


            section {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                div {



                    .clases-yoga-integal {
                        @include color-texto;
                        font-size: 5vw;
                        padding-top: 10%;
                        text-align: center;
                        padding-left: 15%;
                        transform: translateX(-3%);



                    }


                    h2 {
                        @include color-texto;
                        text-align: center;
                        font-size: 3vw;
                        text-align: center;
                        padding-left: 15%;
                        transform: translateX(-3%);

                    }

                    h3 {
                        @include color-texto;
                        text-align: center;
                        font-size: 3vw;
                        text-align: center;
                        padding-left: 15%;
                        transform: translateX(-3%);

                    }

                    p {
                        @include color-texto;
                        text-align: center;
                        font-size: 2.5vw;
                        text-align: center;
                        padding-left: 15%;
                        transform: translateX(-3%);

                    }

                    .yoga-experimental {
                        @include color-texto;
                        text-align: center;
                        font-size: 5vw;
                        padding-top: 10%;
                        text-align: center;
                        padding-left: 15%;
                        transform: translateX(-3%);

                    }

                    h5 {
                        @include color-texto;
                        text-align: center;
                        font-size: 3vw;
                        text-align: center;
                        padding-left: 15%;
                        transform: translateX(-3%);

                    }

                    .meditacion {
                        @include color-texto;
                        text-align: center;
                        font-size: 5vw;
                        text-align: center;
                        padding-left: 15%;
                        transform: translateX(-3%);

                    }

                    h6 {
                        @include color-texto;
                        text-align: center;
                        font-size: 3vw;
                        text-align: center;
                        padding-left: 15%;
                        transform: translateX(-3%);
                    }
                }


                .imagen-clases img {
                    width: 100%;
                    height: 200%;
                    max-width: 100%;
                    padding-right: 5%;
                    padding-left: 5%;
                    padding-top: 5%;
                    padding-bottom: 5%;
                    transform: translateX(2vw);

                }

            }








        }
    }
}