@mixin color-texto {
    color:  rgb(130, 112, 72);
}

@mixin fondo-claro {
    background-color: rgb(253, 234, 219);
}


main {
    section {
        form {
            .Correo {
                padding-left: 3%;
                @include color-texto;
                font-size: 1.5vw;
                padding-top: 3%;
                padding-bottom: 3%;

                label {
                    border-radius: 5px;

                }


            }

            .nombreyapellido {
                padding-left: 3%;
                @include color-texto;
                font-size: 1.5vw;
                padding-top: 3%;
                padding-bottom: 3%;

                label {
                    border-radius: 5px;

                }
            }

            .Comentarios {
                padding-left: 3%;
                @include color-texto;
                font-size: 1.5vw;
                padding-top: 3%;
                padding-bottom: 3%;

                textarea {
                    border-radius: 5px;
                }
            }

            .boton-enviar {
                display: block;
                margin-top: 1rem;
                padding-left: 3%;
                text-decoration: none;
                background-image: linear-gradient(to right, #827048, black);
                width: 100px;
                padding: 10px;
                margin-left: 1rem;
                margin-bottom: 5rem;
                text-align: center;
                color: rgb(253, 234, 219);
                border-radius: 5px;

            }
        }

        .ubicacion {

            padding-left: 3%;
            @include color-texto;
            font-size: 1.5vw;
            padding-top: 2%;
            padding-bottom: 3%;


        }

        iframe {
            padding-top: 3%;
            padding-bottom: 3%;
            padding-right: 3%;
        }
    }
}

@media (max-width: 468px) {
    main {
        section {
            form {
                .Correo {
                    padding-left: 3%;
                    @include color-texto;
                    font-size: 6vw;
                    padding-top: 3%;
                    padding-bottom: 3%;


                }

                .nombreyapellido {
                    padding-left: 3%;
                    @include color-texto;
                    font-size: 6vw;
                    padding-top: 3%;
                    padding-bottom: 3%;
                }

                .Comentarios {
                    padding-left: 3%;
                    @include color-texto;
                    font-size: 6vw;
                    padding-top: 3%;
                    padding-bottom: 3%;

                }
            }

            .ubicacion {

                padding-left: 3%;
                @include color-texto;
                font-size: 6vw;
                padding-top: 2%;
                padding-bottom: 3%;


            }

            iframe {
                padding-top: 3%;
                padding-bottom: 3%;
                padding-right: 3%;
            }
        }
    }
}